<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a routerLink="/home" class="logo"><i class="ri-inbox-unarchive-line"><span>Equip Up</span></i></a>
    <ul class="navbar">
        <li><a routerLink="/home" class="activate">Inicio</a></li>
        <li><a href="#">Subir producto</a></li>
        <li><a href="#">Carrito</a></li>
        
    </ul>

    <div class="main">
      <a routerLink="/login" class="user"><i class="ri-user-3-fill"></i>Iniciar sesion</a>
      <a routerLink="/register">Registro</a>
    </div>  

  </header>

</body>
</html>