
<!-- toolbar.component.html -->

<mat-toolbar color="primary"  style="background-color: #4ba9e9;">
  <span>Equip Up</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home">Inicio</button>
  <button mat-button routerLink="/product-form">Subir Producto</button>
  <button mat-button routerLink="/myproduct">Mis productos</button>
  <button mat-button routerLink="/login">Carrito</button>
  <button mat-button routerLink="/login">Iniciar Sesión</button>
  <button mat-button routerLink="/register">Registro</button>
</mat-toolbar>

  