table {
    width: 100%;
  }
  h1 {
    font-size: 2em;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.041); /* Sombra del texto */
    margin-top: 15px;
  }
  
  

  .mat-elevation-z8{
    margin-top: 0px;
  }