/* Estilo para la card principal */
.mat-card {
  width: 300px; /* Ajusta el ancho según tus preferencias */
  margin: 16px; /* Espaciado entre las cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra para destacar */
  transition: box-shadow 0.3s ease; /* Animación suave al pasar el mouse */

  /* Ajusta los bordes si lo deseas */
  border-radius: 8px;
}

/* Estilo para el título */
.title {
  font-size: 1.5rem; /* Tamaño del título */
  font-weight: bold; /* Texto en negrita para destacar */
}

/* Estilo para la imagen */
img {
  width: 100%; /* La imagen ocupa el 100% del ancho de la card */
  height: auto; /* Mantiene la proporción original de la imagen */
  border-top-left-radius: 8px; /* Esquina redondeada arriba a la izquierda */
  border-top-right-radius: 8px; /* Esquina redondeada arriba a la derecha */
}

/* Estilo para el contenido */
.description {
  padding: 16px; /* Espaciado interno para el contenido */
}

/* Estilo para el botón */
button.Alquilar {
  width: 100%; /* El botón ocupa el 100% del ancho del contenedor */
}

/* Transición suave al pasar el mouse sobre la card */
.mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
