<div class="card-container">
  <mat-card  class="card-class" *ngFor="let product of products">
    <mat-card-header>
      <img mat-card-md-image class="img" src={{product.image.url}}/>
    </mat-card-header>
    <mat-card-title class="title">
      <h1>
        {{product.product.name}}
      </h1>
      </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content class="description">
        <p>
            {{product.product.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-wrapper">
        <mat-card-title class="precio">15.000$</mat-card-title>
        <button mat-button class="btn cart" > agregar al carrito</button>
      </div>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
