
<body>
    <section class="form-registro">
        <h1>REGISTRO EQUIP UP</h1>
        <form [formGroup]="registeForm" (ngSubmit)="onSubmit()">
                <input class="controls" formControlName="userName" type="text" name="nombre" id="nombres"placeholder="Ingrese su Nombre">
                <input class="controls" formControlName="mail" type="email" name="nombre" id="nombres"placeholder="Ingrese su Correo">
                <input class="controls" formControlName="password" type="password" name="nombre" id="nombres"placeholder="Ingrese su contraseña">
                <input class="botons" type="submit" value="Registrar">
        </form>
    </section>
    
</body>
