<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="form-registro">
        <h1>INICIO DE SESION</h1>
        <input class="controls" type="text" name="nombre" id="nombres"placeholder="Nombre de Usuario">
        <input class="controls" type="password" name="nombre" id="nombres"placeholder="Ingrese su contraseña">
        <input class="botons" type="submit" value="Registrar">
        <p> <a routerLink="/register"> Registrate Aqui</a></p>
      
    
    </section>
    
</body>
</html>